name: CD Pipeline

on:
  workflow_run:
    workflows: ["DevOps CI - Production"]
    types:
      - completed
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment: staging

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull Docker Image
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/ucp-devops-project:latest

      - name: Trigger Deployment on Render
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            "${{ secrets.CALLBACK_URL_PRODUCTION }}"

      - name: Deployment Status
        run: echo "Deployment Trigger Sent Successfully"
